.search-toggle-button {
  margin: 12px !important;
  border-radius: 25px !important;
  background-color: #e50914 !important;
  border: none !important;
  color: #fff !important;
  font-weight: 500 !important;
  padding: 8px 16px !important;
  transition: background 0.25s !important;
  width: 150px !important;
}

.search-toggle-button:hover {
  background-color: #b20710 !important;
}