.mypage-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.mypage-greeting {
  font-size: 1.8rem;
  margin-bottom: 10px;
  /* color: #222; */
}

.mypage-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin: 30px 0;
}

.font-s{
  font-size: smaller;
}