.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px; /* 데스크톱에서 더 크게 보이도록 */
  aspect-ratio: 16 / 9; /* 반응형 16:9 비율 고정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
