.banner-container{
    width: 95vw;
    border-radius: 30px;
}

.banner-img{
    height: 80vh;
    background-size: cover;
}

.banner-img::before{
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 80vh;
    width: 100%;
}

.banner-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 4rem;
}

.banner-text-container > *{
    padding: 1rem;
    z-index: 99;
}

@media (max-width: 576px) {
.banner-text-container{
    width: 100%;
}

.banner-text-container > p{
    display: -webkit-box;   
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* 제한할 텍스트의 줄 수 */
    padding: 0 1rem;
}
} 
 
@media (max-width: 768px) {
.banner-text-container{
    width: 100%;
}
}
 
@media (max-width: 992px) {
.banner-text-container{
    width: 100%;
}
}