.not-found { display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 80vh; 
    text-align: center; 
}

.not-found h2 { 
    font-size: 3em; 
    margin-bottom: 10px; 
}

.not-found p { 
    margin-bottom: 20px; 
}

.not-found a { 
    background-color: #e50914; 
    padding: 10px 20px; 
    border-radius: 5px; 
    color: white;
    text-decoration: none;
}