.movie-card {
  position: relative; 
  cursor: pointer; 
  transition: transform 0.3s ease;
  padding: 10px 10px;
}

.image {
  width: 100%; 
  border-radius: 10px;
}

.movie-card:hover { 
  transform: scale(1.1); 
}

.movie-info { 
  position: absolute; 
  bottom: 0; 
  background: rgba(0,0,0,0.7); 
  width: 100%; 
  padding: 10px; 
  border-radius: 0 0 10px 10px; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.movie-card:hover .movie-info { 
  opacity: 1; 
}

/* 텍스트 스타일 */
.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  word-break: keep-all;
}

.genre-container {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.genre-container span {
  font-size: 13px;
  background: rgba(255, 0, 0, 0.5);
  padding: 3px 8px;
  border-radius: 6px;
}

.desc {
  font-size: 14px;
  color: #eee;
  line-height: 1.4;
}